<div class="tables">
  <div class="selectContent">
    <span class="fieldLabel">Column Filters:</span><br/>
    <input type="checkbox" id="chkReturnRowCnt"> Return Only # of Rows<br/>
    <input type="checkbox" id="chkReturnTop"> Return Top:
    <select id="ddlTopReturn" style="width: 75%">
      <option value="-1"></option>
      <option *ngFor="let row of rowOpt" value="{{ row.value }}">{{ row.lbl }}</option>
    </select>

    <div class="filtersGrp">
      <table id="dbFilters" name="dbFilters" class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Del</th>
            <th>Edit</th>
            <th>Statement</th>
          </tr>
        </thead>
        <tr>
          <td width="20">one</td>
          <td width="20">Two</td>
          <td>THREE</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="columnSelect">
    <span class="fieldLabel">Columns:</span>
    <span class="fieldLabel offsetRight">Conditions:</span>

    <div style="margin-top: 3px;">
      <select id="ddlColumnList" style="width: 75%"></select>
      <select id="ddlConditionList" style="width: 20%" class="offsetRight">
        <option *ngFor="let condition of conditionalOpt" value=" {{ condition }} ">{{ condition }}</option>
      </select>
    </div>
  </div>

  <div class="fieldSelect">
    <input type="text" id="txtFilterText">

    <div style="margin-top: 10px; width: 100%">
      <button class="standardBtn" style="width: 100px">Clear All</button>
      <button class="standardBtn" style="position:absolute; right: 10px; width:100px;">Add</button>
    </div>
  </div>
</div>

