<div id="serverGrp" class="btn-group">
  <div>
    <label for="serverList">Server:
      <select id="serverList" class="form-control optionGrp" [(ngModel)]="defaultServer">
          <option [ngValue]="null">Select a Server</option>
        <option *ngFor="let server of servers" [value]="server.id">{{ server.id }}</option>
      </select>
    </label>
  </div>

  <div style="margin-left: 20px">
    <label for="dbList">Database:
      <select id="dbList" class="form-control optionGrp" [(ngModel)]="defaultDB">
        <option [ngValue]="null">Select a Database</option>  
        <option *ngFor="let database of databases" [value]="database.id">{{ database.id }}</option>
      </select>
    </label>
  </div>

  <button id="btnNewTab" class="standardBtn">New Query Tab</button>
</div>

<div id="queryGrp" class="btn-group">
  <label for="queryList">Your Saved Queries:
    <select id="queryList" class="form-control optionGrp">
      <option [ngValue]="null">Select a Query</option>
      <option *ngFor="let query of queries" [value]="query.id" >{{ query.QueryTitle }}</option>
    </select>
  </label>

  <button id="btnExecuteQuery" class="standardBtn" style="margin-top:17px;">Execute Query</button>
  <button id="btnSaveQuery" class="standardBtn" style="margin-top:17px;">Save Current Query</button>
</div>

<div class="heavyHR"></div>
