<div class="title">
  <img id="bannerImg" style="float:left;" src="../../../assets/image/updatetooltitle.png" alt="" />

  <div class="copyright">
    (c) Copyright 2018 by MKGCS, LLC. | All Rights Reserved
  </div>
</div>

<div class="userControls">
  Logged in as: <span style="color:#ffff00;">Sean McGill</span><br/>
  <div id="buttonGrp">
    <span class="version">Version 2.0.0</span>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button class="standardBtn">User Options</button>&nbsp;&nbsp;
    <button class="standardBtn">Return to Orders</button>
  </div>
</div>
