<div id="divBtnGrp">
  <button class="standardBtn" id="btnColumns" (click)="openColumnWindow()">Customize Columns</button>
  <div class="btnGroup">
    <button class="standardBtn" id="btnJoins" (click)="openJoinWindow()">Joins</button>
    <button class="standardBtn" id="btnPrimaryKey">Set/Cgh Primary Key</button>
  </div>
  <div class="btnGroup">
    <button class="standardBtn" id="btnOrder" (click)="openOrderByWindow()">Order By</button>
    <button class="standardBtn" id="btnViewer">View DB Procs/Views/Func</button>
  </div>
</div>
<hr />
